body{
  background-color: rgb(75,75,75);
  color: white;
  font-family: Arial;
}

.title{
  font-size: 30px;
  font-weight: bold;
  color: lightyellow;
}

.result{
  font-size: 20ps;
  font-weight: bold;
}

.move-icon{
height: 100px;
width: 100px;
background-color: transparent;
border: 3px solid white;
border-radius: 60px;
margin-right: 10px;
cursor: pointer;
}

.mybutton{
  padding: 10px;
  margin-top: 10px;
}