body{
  background-color: rgb(250,250,250);
  color: black;
  font-family: Arial;
}

.title{
  font-size: 30px;
  font-weight: bold;
}

.stdbutton{
  color: white;
  padding: 15px;
  cursor: pointer;
  font-size: 15px;
  border: none;
}

.deletebutton{
  background-color: darkred;
}

.addbutton{
  background-color: green;
}

.todo-grid{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 20px;
  align-items: center;
}

.todo-input{
  align-items: stretch;
}

.input-box{
  padding: 6px;
  font-size: 15px;
}
