body{
  background-color: rgb(250,250,250);
  color: black;
  font-family: Arial;
}

.title{
  font-size: 30px;
  font-weight: bold;
}

.stdbutton{
  font-size: 90p;
  color: white;
  padding: 15px;
  cursor: pointer;
}

.deletebutton{
  background-color: darkred;
}
